<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="font-family: 'Roboto', sans-serif;">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <mobile>
      <div id="app" style="height: 100%;">
        <div class="mobile-status-bar">
          <img src="https://i.imgur.com/XSqz2K4.png" alt="" />
        </div>
        <div class="mobile-container">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="nav-home-tab"
                data-toggle="tab"
                href="#nav-home"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
              >
                Home
              </a>
              <a
                class="nav-item nav-link"
                id="nav-profile-tab"
                data-toggle="tab"
                href="#nav-profile"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                History
              </a>
              <a
                class="nav-item nav-link"
                id="nav-contact-tab"
                data-toggle="tab"
                href="#nav-contact"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
              >
                Advice
              </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <div class="container">
                <div class="row text-center pt-5">
                  <div class="col">
                    <h3>Time to sleep</h3>
                  </div>
                </div>

                <div
                  class="row d-flex justify-content-center pt-5"
                  v-if="showHomeButton"
                >
                  <div class="col-8 text-center">
                    <div class="row d-flex justify-content-center pt-4">
                      <button
                        type="button"
                        class="btn btn-light"
                        style="border: 2px solid gray;"
                        v-on:click="showInput('showSleepInput')"
                      >
                        Choose time to sleep
                      </button>
                    </div>
                    <div class="row d-flex justify-content-center pt-4">
                      <button
                        type="button"
                        class="btn btn-light"
                        style="border: 2px solid gray;"
                        v-on:click="showInput('showWakeInput')"
                      >
                        Choose time to wake up
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row d-flex justify-content-center pt-5">
                  <div class="col-8 text-center">
                    <div
                      class="row d-flex justify-content-center"
                      v-if="showSleepInput"
                    >
                      <div class="col-2">
                        <p>sleep:</p>
                      </div>
                      <div class="col-8">
                        <input
                          type="time"
                          id="sleepInput"
                          v-model="sleepTime"
                        />
                      </div>
                    </div>
                    <div
                      class="row d-flex justify-content-center"
                      v-if="showWakeInput"
                    >
                      <div class="col-2">
                        <p>wake:</p>
                      </div>
                      <div class="col-8">
                        <input
                          type="time"
                          id="wakeUpInput"
                          v-model="wakeTime"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="row d-flex justify-content-center pt-4"
                  v-if="showSleepInput||showWakeInput"
                >
                  <button
                    type="button"
                    class="btn btn-light"
                    style="border: 2px solid gray;"
                    v-on:click="addDate"
                  >
                    Get Time
                  </button>
                </div>
              </div>
              <div
                style="
                  margin-top: 30px;
                  height: 150px;
                  width: 100%;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  flex-direction: row;
                "
                v-if="showButton"
                id="hide"
              >
                <div
                  style="
                    height: 100px;
                    width: 100px;

                    justify-content: center;
                    align-items: center;
                    display: flex;
                  "
                >
                  <button
                    type="button"
                    class="btn btn-light"
                    style="border: 2px solid gray;"
                  >
                    {{ time[0] }}
                  </button>
                </div>
                <div
                  style="
                    height: 100px;
                    width: 100px;

                    justify-content: center;
                    align-items: center;
                    display: flex;
                  "
                >
                  <button
                    type="button"
                    class="btn btn-light"
                    style="border: 2px solid gray;"
                  >
                    Get Time
                  </button>
                </div>
                <div
                  style="
                    height: 100px;
                    width: 100px;

                    justify-content: center;
                    align-items: center;
                    display: flex;
                  "
                >
                  <button
                    type="button"
                    class="btn btn-light"
                    style="border: 2px solid gray;"
                  >
                    Get Time
                  </button>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Sleep</th>
                    <th scope="col">Wake</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>20/03/63</td>
                    <td>22:00</td>
                    <td>8:00</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>21/03/63</td>
                    <td>22:00</td>
                    <td>8:00</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>22/03/63</td>
                    <td>22:00</td>
                    <td>8:00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <div class="row d-flex justify-content-center pt-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">นับแกะ</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center pt-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">ดื่มนมอุ่น</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center pt-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">ออกกำลังกาย</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mobile>
    <script src="vue.js"></script>
  </body>
</html>
